@model DesaparecidoModel

<div>
    <form asp-controller="Desaparecido" asp-action="Editar" method="post">
        <input name="Nome" class="form-control" type="text" asp-for="Nome" placeholder="Nome" aria-label="default input example">
        <input name="Sobrenome" class="form-control" type="text" asp-for="Sobrenome" placeholder="Sobrenome" aria-label="default input example">
        <input name="DataHoraDesaparecimento" class="form-control" type="datetime-local" asp-for="DataHoraDesaparecimento" placeholder="DataHoraDesaparecimento" aria-label="default input example">
        <input name="CorPele" class="form-control" type="text" asp-for="CorPele" placeholder="CorPele" aria-label="default input example">
        <input name="Cabelo" class="form-control" type="text" asp-for="Estilocabelo" placeholder="EstiloCabelo" aria-label="default input example">
        <input name="Roupa" class="form-control" type="text" asp-for="Roupa" placeholder="Roupa" aria-label="default input example">
        <input name="Altura" class="form-control" type="text" asp-for="Altura" placeholder="Altura" aria-label="default input example">
        <input name="Tatuagem" class="form-control" type="text" asp-for="Tatoagem" placeholder="Tatuagem" aria-label="default input example">
        <input name="Observacoes" class="form-control" type="text" asp-for="Observacoes" placeholder="Observacoes" aria-label="default input example">

        

        <input type="submit" class="btn btn-primary">
    </form>
</div>
