@model DesaparecidoModel

<div>
     <a class="btn-primary" role="button" asp-controller="Desaparecido" asp-action="EditarPage">Editar</a>
     <a class="btn-primary" role="button" asp-controller="Desaparecido" asp-action="CadastrarPage">Cadastrar</a>
     <a class="btn-primary" role="button" asp-controller="Desaparecido" asp-action="DesaparecidosPage">Desaparecidos</a>
</div>