@model UsuarioModel

<div>
    <form asp-controller="Login" asp-action="VerificarLogin" method="post">
        <input name="Email" class="form-control" type="text" asp-for="Email" placeholder="Email" aria-label="default input example">
        <input name="Senha" class="form-control" type="password" asp-for="Senha" placeholder="Senha" aria-label="default input example">
        
        <input type="submit" class="btn btn-primary">
    </form>
</div>