@model List<DesaparecidoModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="card" style="width: 18rem;">
    @if(Model != null && Model.Any() )
    {
        foreach(DesaparecidoModel desaparecido in Model)
        {
                <img src="~/Imagens/@desaparecido.CaminhoImagem" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@desaparecido.Nome</h5>  
                    <p class="card-text">@desaparecido.Observacoes</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>   
        }
    }
</div>