@{
    ViewData["Title"] = "Precauções";
}

<!-- Navigation-->
<nav class="navbar navbar-light bg-white static-top" style="height: 80px;">
    <div class="container d-flex justify-content-between align-items-center">
        <a class="navbar-brand" href="@Url.Action("Index")">
            <img src="~/Imagens/sos.webp" alt="Logo do Site" width="175" height="100">
        </a>
        <h3 class="text-center mx-auto fw-bold nav-text" style="color: #47525E">
            PRECAUÇÕES
        </h3>
        <a class="btn btn-primary nav-text" style="background-color: #2363A9" href="@Url.Action("Index")">VOLTAR AO MENU PRINCIPAL</a>
    </div>
</nav>

<!-- Section-->
<section class="py-5" style="margin-top: 50px; margin-bottom: 30px;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 custom-align-left">
                <div class="card border-0 h-100">
                    <!-- Imagem 1 -->
                    <img class="card-img-top custom-card-img" src="~/Imagens/181.jpg" alt="..." />
                    <!-- Detalhes -->
                    <div class="card-body p-4">
                        <div class="align-text-bottom text-center">
                            <!-- Texto 1 -->
                            <h5 class="custom-text">QUALQUER SUSPEITA DE ALGUÉM TE CHAMANDO OU TE SEGUINDO, LIGUE 181 OU 190.</h5>
                        </div>
                    </div>
                    <!-- Ações -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="align-text-bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5 custom-align-center">
                <div class="card border-0 h-100">
                    <!-- Imagem 2 -->
                    <img class="card-img-top custom-card-img" src="~/Imagens/qualquer suspeita.jpg" alt="..." />
                    <!-- Detalhes -->
                    <div class="card-body p-4">
                        <div class="align-text-bottom text-center">
                            <!-- Texto 2 -->
                            <h5 class="custom-text">CASO SUSPEITE DE SEQUESTRO OU ENCONTRE ALGUÉM, CHAME A POLÍCIA E SALVE UMA VIDA.</h5>
                        </div>
                    </div>
                    <!-- Ações -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="align-text-bottom">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col mb-5 custom-align-right">
                <div class="card border-0 h-100">
                    <!-- Imagem 3 -->
                    <img class="card-img-top custom-card-img" src="~/Imagens/local.jpeg" alt="..." />
                    <!-- Detalhes -->
                    <div class="card-body p-4">
                        <div class="align-text-bottom text-center">
                            <!-- Texto 3 -->
                            <h5 class="custom-text">EVITE LOCAIS DESERTOS E SEMPRE ANDE EM GRUPO DE 3 PESSOAS, NO MÍNIMO.</h5>
                        </div>
                    </div>
                    <!-- Ações -->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="align-text-bottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>


<!-- Footer-->
<footer class="py-5" style="background-color: #67796F;">
    <div class="container">
        <p class="m-0 text-center text-white lato-text">Copyright &copy; SOS BUSCAS 2023</p>
    </div>
</footer>