@model UsuarioModel

<div>
    <form asp-controller="Cadastro" asp-action="Cadastrar" method="post">
        <input name="Nome" class="form-control" type="text" asp-for="Nome" placeholder="Nome" aria-label="default input example">
        <input name="Sobrenome" class="form-control" type="text" asp-for="Sobrenome" placeholder="Sobrenome" aria-label="default input example">
        <input name="CPF" class="form-control" type="text" asp-for="CPF" placeholder="CPF" aria-label="default input example">
        <input name="Email" class="form-control" type="text" asp-for="Email" placeholder="Email" aria-label="default input example">
        <input name="Senha" class="form-control" type="password" asp-for="Senha" placeholder="Senha" aria-label="default input example">
        <input name="Nascimento" class="form-control" type="datetime-local" asp-for="Nascimento" placeholder="Data de Nascimento" aria-label="default input example">

        

        <input type="submit" class="btn btn-primary">
    </form>
</div>