html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-card-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.custom-text {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    color: #8190A5;
    text-align: left;
    line-height: 24px;
    width: 100%;
}

.lato-text {
    font-family: "Lato", sans-serif;
    font-size: 20px
}

.nav-text {
    font-family: "Lato", sans-serif
}

.custom-align-left {
    margin-left: auto;
    margin-right: 0;
}

.custom-align-center {
    margin-left: auto;
    margin-right: auto;
}

.custom-align-right {
    margin-left: 0;
    margin-right: auto;
}